.view-bar{
	position: absolute;
	bottom: 0;
	z-index: 8;
	width: 100%;
	height: 100upx;
	padding: 0 30upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #eaeaea;
	background-color: #FFFFFF;
	font-size: 26px;
	font-weight: 400;
}
.count{
	width: 50upx;
	height: 50upx;
	text-align: center;
	line-height: 48upx;
	border: 1px solid #333333;
	border-radius: 5px;
}